#banner {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background-image: linear-gradient(to bottom right, #2657eb, #de6161);
  color: white;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  /* background-image: url('./magnify.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  border-top: 0;
  display: -ms-flexbox;
  height: 35rem !important;
  min-height: 35rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

#banner > .inner {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  position: relative;
  z-index: 3;
  font-size: 1rem;
}

#banner h1 {
  font-size: 3em;
}
#banner p {
  font-size: 1.5em;
}
